# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

### Step 4. See the first 10 entries

In [4]:
print(chipo[:11])

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
1          1         1                                   Izze
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
4          2         2                           Chicken Bowl
5          3         1                           Chicken Bowl
6          3         1                          Side of Chips
7          4         1                          Steak Burrito
8          4         1                       Steak Soft Tacos
9          5         1                          Steak Burrito
10         5         1                    Chips and Guacamole

                                   choice_description item_price
0                                                 NaN     $2.39
1                                        [Clementine]     $3.39
2                                             [Apple]     $3.39
3                                                 NaN     $2.39
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                 NaN     $1.69
7   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9   [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                NaN     $4.45

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
print(chipo.count())

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [6]:
# Solution 2
print(chipo.shape[0])

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
print(chipo.shape[1])

5

### Step 7. Print the name of all the columns.

In [8]:
list(chipo)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
chipo.loc[chipo['quantity'].idxmax()]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                 $44.25
Name: 3598, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
chipo.loc[chipo['quantity'].idxmax()].loc['quantity']

15

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
chipo.dropna(subset=['choice_description'])
chipo['choice_description'].value_counts().idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [13]:
sum(chipo['quantity'])

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [16]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [18]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [19]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [20]:
# Solution 2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [21]:
chipo.item_name.value_counts().count()

50